/* defined gride */
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.main{
    grid-area: main;
}
.aside{
    grid-area: aside;
}
.Ad{
    grid-area: Ad;
}
.footer{
    grid-area: footer;
}

/* grid related css style */

.Ad,.aside,.footer,.header,.main,.nav{
    background-color: bisque;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 20px;
    grid-template-areas:
    "header header header header"
    "nav main main aside"
    "nav main main Ad"
    "footer footer footer footer"
    ;
}
@media screen and (max-width:576px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas:
        "header "
        "nav "
        "main"
        "aside "
        "Ad "
        "footer"
        ;
    }
}
@media screen and (min-width:577px) and (max-width:1000px){
    .grid-container{
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
        "header header"
        "nav nav"
        "aside main "
        "Ad footer"
        ;
    }
}